[submodule "External/computecpp-sdk"]
	path = External/computecpp-sdk
	url = git@github.com:codeplaysoftware/computecpp-sdk.git
[submodule "External/catch2"]
	path = External/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
