.container{
	display: flex;
	font-size: 0.6em;
	padding: 0;
	margin: 0;
	justify-content: space-around;
	align-items: center;
}

.container-top{
	display: flex;
	font-size: 0.6em;
	padding: 0;
	margin: 0;
	align-items: top;
	justify-content: left;
}

.col { 
	flex: 1;
	margin: 0;
}

.col-left { 
	flex: 1;
	margin: 0;
	flex-grow:5;
}

.col-right {	 
	flex: 1;
	margin: 0;
	flex-grow:1;
	vertical-align:center;
}

.col-left-3 { 
	flex: 1;
	margin: 0;
	flex-grow:3;
	font-size: 90%;
}

.col-right-1 {	 
	flex: 1;
	margin: 0;
	flex-grow:1;
	vertical-align:center;
}

.col-right-2 {	 
	flex: 1;
	margin: 0;
	flex-grow:2;
	vertical-align:center;
	font-size: 80%;
}

.smaller-size-font{
	font-size: 70%;
}

code {
	line-height: normal;
	font-size: 70%;
}

.code-header{
	font-size: 45%;
	font-weight: bold;
}

.bottom-bullets{
	font-size: 50%;
}

body .overlay-image {
  position: absolute;
  }
  
body .overlay-image img {
  width: 100%;
}

body .overlay-image.top-left {
  top: 20px;
  left: 20px;
  width: 300px;
  height: auto;
  }

body .overlay-image.top-right {
  top: 20px;
  right: 20px;
  width: 200px;
  height: auto;
}

body .overlay-image.bottom-left {
  bottom: 60px;
  left: 40px;
  width: 300px;
  height: auto;
}

body .overlay-image.bottom-right {
  bottom: 60px;
  right: 40px;
  width: 200px;
  height: auto;
  }